.idea
.venv*
*~
~*
*.swp
*/*~
*/~*
*/*.swp
*/*/*~
*/*/~*
*/*/*.swp
__pycache__
*/__pycache__
*/*/__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
pywr_glpk_debug*
*.log
venv*
wsl_venv*
/venv*


MMBorgMOEA/
lib*
borg.py
MOEAFramework-5.0/

#Random stuff
logs/
data_test/
outputs/
# Ignore example files
example_nsga copy.py
# Ignore specific figure files
figures/policy_functions/
figures/solution_dynamics/
moeaframework/figures_moea_metrics/
interactive/
figures/
pywr_data/